<html>
  <head>
    <title>Test dvlp</title>
  </head>
  <body>
    <div id="app">
      <div id="ssr">
        <p>Handlebars rendering</p>
        {{{js}}}
      </div>
    </div>
    <script type="module" src="/src/index.js"></script>
  </body>
</html>
